::-webkit-scrollbar {
  width: 0px; 
  height: 6px; 
  background: transparent; 
}

::-webkit-scrollbar-thumb { 
  background-color: rgba(0,0,0,0.3); 
  -webkit-border-radius: 8px; 
}

body {
  margin: 0px;
}

.MuiGridListTile-tile {
  overflow: unset !important;
}